<!DOCTYPE html>
<html>
<head>
	<title>File Upload App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="directive.js"></script>
	<script src="service.js"></script>
</head>
<body ng-app = "FormApp" ng-controller="FormController">
	<h2>File Upload</h2>
 
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                	<label for="name">Name: </label>
                    <input type="text" ng-model="data.name" class="form-control" id ="name"/>
                    <label for="items">Items: </label>
                    <input type="text" ng-model="data.items" class="form-control" id ="items"/>
                    <label for="myFileField">Select a file: </label>
                    <input type="file" demo-file-model="data.myFile"  class="form-control" id ="myFileField"/>
                </div>
                <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
            </form>
        </div>
    </div>
    <div>{{serverResponse}}</div>
</body>
</html>